.information {
    color: var(--primary-color);
    padding: 0 30px 0 30px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statistics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.info-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
    color: aliceblue;
    /*-webkit-text-stroke: 0.02em var(--primary-color);*/
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    text-align: center;
}

.p1 {
    font-weight: bold;
}

.info-header1 {
    margin-top: 10px !important;
}

.info-header h1 {
    margin: 0;
    padding: 0;
}

.info-stats {
    margin-left: 10px;
    height: 400px;
    width: 50%;
    /*background-image: url('../../assets/drops-background/drops-medium.webp');*/
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    border-radius: var(--primary-border-radius);
}

.info-stats p {
    padding: 20px 40px 0 40px;
    text-align: justify;
    font-size: 1.05em;
}

.info-stats h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6em;
     margin-top: 15px;
}

.info-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*background-image: url('../../assets/drops-background/drops-huge.webp');*/
    margin-top: 20px;
    position: relative;
    padding: 20px 40px 20px 10px;
    border-radius: var(--primary-border-radius);
}

.info-list-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.info-list-item p {
    text-align: justify;
    font-size: 1.05em;
    padding-top: 15px;
}

.info-list-top {
    padding: 30px 40px 40px 50px;
    text-align: justify;
}

.info-list-top p {
    padding: 10px 0 !important;
    font-size: 1.05em;
}

.p1 {
    border-bottom: 1px solid #bcbcbc;
}

.info-list-top li {
    padding: 7px;
    font-size: 1.05em;
    border-bottom: 1px solid #bcbcbc;
}

.info-img {
    height: 160px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.info-list-item img:hover, .info-list-human img:hover {
    transform: scale(1.1);
}

.style-tooltip::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.style-tooltip {
    background-color: rgba(8, 107, 108, 0.59) !important;
    font-family: Arial, sans-serif !important;
    color: white !important;
    max-width: 250px;
    opacity: 1 !important;
    backdrop-filter: blur(var(--blur)) !important;
    -webkit-backdrop-filter: blur(var(--blur)) !important;
    box-shadow: 2px 5px 10px rgba(5, 32, 34, 0.66) !important;
}

.info-list-human {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /*background-image: url('../../assets/drops-background/drops-huge.webp');*/
    position: relative;
    padding: 30px;
    text-align: justify;
    border-radius: var(--primary-border-radius);
}

.info-list-human p {
    width: 55%;
    font-size: 1.05em;
}

.calculator-link {
    width: 25%;
    margin: 20px;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 1px var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: transform 0.5s ease;
}

.calculator-link:hover {
    transform: scale(1.1);
}

.calculator-link h1 {
    text-decoration: none;
    font-size: 2.5em;
}

.human {
    height: 220px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/*Media Queries*/

@media (max-width: 576px) {
    .information {
        padding: 20px 0;
    }

    .info-header {
        font-size: 1.5em;
        margin: 10px;
    }

    .info-stats {
        width: 95%;
        margin-left: 0;
        font-size: 1em;
        height: fit-content;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-medium.webp');*/
    }

    .info-stats h2 {
        font-size: 1.3em;
        margin-top: 10px;
    }

    .info-stats p {
        padding: 20px 30px;
    }

    .info-list-item {
        width: 100%;
        padding: 0;
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }

    .info-list-item p {
        padding: 0 30px;
    }

    .info-list {
        width: 95%;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-mobile.webp');*/

    }

    .info-list-top {
        padding: 30px 30px 30px 40px;

    }

    .info-list-bottom {
        padding: 30px 0;
    }

    .info-img {
        height: 150px;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list-human {
        width: 95%;
        flex-direction: column;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-big.webp');*/
        padding: 30px;
    }

    .info-list-human p {
        width: 100%;
        margin-top: 20px;
    }

    .human {
        height: 200px;
    }

    .calculator-link {
        width: 100%;
        font-size: 1em;
    }

    .calculator-link h1 {
        font-size: 1.8em;
    }

}

@media (min-width: 576px) and (max-width: 768px) {

    .information {
        padding: 0;
    }

    .info-header {
        font-size: 1.6em;
        margin: 20px;
    }

    .info-list-top {
        padding: 30px 30px 30px 40px;
    }

    .info-stats {
        width: 95%;
        height: fit-content;
        margin: 20px 0 0 0;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-medium.webp');*/
    }

    .info-list-item {
        width: 100%;
        font-size: 1em;
        align-items: center;
        padding-bottom: 12px;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list-bottom {
        padding: 30px 0;
    }

    .info-list {
        width: 95%;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-mobile.webp');*/
    }

    .info-list p {
        padding: 0 30px 0 0;
    }

    .info-list-human {
        width: 95%;
        flex-direction: column;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-mobile.webp');*/
    }

    .info-list-human p {
        width: 100%;
        margin-top: 20px;
    }

    .human {
        height: 220px;
    }

    .calculator-link {
        width: 100%;
    }

    .calculator-link h1 {
        font-size: 1.9em;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .information {
        padding: 0 !important;
    }

    .info-header {
        font-size: 1.7em;
    }

    .info-stats {
        width: 90%;
        margin: 20px 0 0 0;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        height: fit-content;
        padding: 20px 0;

    }

    .info-stats p {
        padding: 30px;
    }

    .info-list-item {
        width: 100%;
        padding: 0;
        font-size: 1em;

    }

    .info-img {
        height: 150px;
    }

    .info-list-top {
        padding: 30px 30px 30px 40px;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list p {
        font-size: 1em;
        padding: 0 30px 0 0;

    }

    .info-list {
        width: 90%;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-mobile.webp');*/
    }

    .info-list-human {
        width: 90%;
        flex-direction: column;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        /*background-image: url('../../assets/drops-background/drops-mobile.webp');*/
    }

    .calculator-link {
        width: 100%;
    }

    .calculator-link h1 {
        font-size: 2em;
    }

    .info-list-human p {
        width: 100%;
        margin-top: 20px;
        font-size: 1em;
    }

    .human {
        height: 230px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .info-list-item {
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .info-img {
        height: 130px;
    }

    .info-list {
        flex-direction: column;
    }

    .info-list-item p {
        text-align: justify;
        padding-left: 20px;
    }

    .info-header {
        font-size: 1.8em;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-stats {
        width: 100%;
        margin: 20px 0 0 0;
        height: fit-content;
    }
}

@media (min-width: 1500px) {
    .information {
        padding-left: 10%;
        padding-right: 10%;
    }
}
