.information {
    color: var(--primary-color);
    padding: 0 20px 50px 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statistics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.info-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    color: #dde9e9;
    -webkit-text-stroke: 1px var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    text-align: center;
}

.info-header h1 {
    margin: 0;
    padding: 0;
}

.info-stats {
    margin-left: 20px;
    height: 400px;
    width: 50%;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-color: var(--background-color);
    background-image: url('../../assets/drops-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-stats p {
    padding: 40px;
    text-align: justify;
}

.info-stats h2 {
    text-align: center;
    padding: 30px 30px 0 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6em;
}

.info-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-color: var(--background-color);
    background-image: url('../../assets/drops-huge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    position: relative;
    padding: 20px 0;
}

.info-list-item {
    width: 50%;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info-list-item p {
    padding: 5px 40px;
    text-align: justify;
}

.info-img {
    height: 160px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.info-list-item img:hover, .info-list-human img:hover {
    transform: scale(1.1);
}
.style-tooltip::before {
     content: "";
     position: absolute;
     bottom: -10px;
     left: 50%;
     margin-left: -5px;
     border-width: 5px 5px 0;
     border-style: solid;
     border-color: #fff transparent transparent transparent;
 }

.style-tooltip {
    background-color: rgba(8, 107, 108, 0.59) !important;
    font-family: Arial, sans-serif !important;
    color: white !important;
    max-width: 250px;
    opacity: 1 !important;
    backdrop-filter: blur(var(--blur)) !important;
    -webkit-backdrop-filter: blur(var(--blur)) !important;
    box-shadow: 2px 5px 10px rgba(5, 32, 34, 0.66) !important;

}

.info-list-human {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url('../../assets/drops-huge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-color: var(--background-color);
    position: relative;
    padding: 30px;
    text-align: justify;
}
.info-list-human p {
    width: 55%;
}

.calculator-link {
    width: 25%;
    margin: 20px;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 1px var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    animation: colorChange 2s infinite alternate;
    transition: transform 0.5s ease;
}
.calculator-link:hover {
    transform: scale(1.1);
}
@keyframes colorChange {
    0% {
        color: var(--primary-color);

    }
    100% {
        color: #9e5c19;

    }
}

.calculator-link h1, .calculator-link h3 {
    text-decoration: none;
}
.calculator-link h1 {
    font-size: 2.5em;
}

.human {
    height: 220px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 576px) {
    .information {
        padding: 20px 0;
    }

    .info-header {
        font-size: 1.5em;
    }

    .info-stats {
        width: 95%;
        margin-left: 0;
        font-size: 1em;
        height: fit-content;
        background-color: var(--background-mobile-color);
    }

    .info-list-item {
        width: 100%;
        padding: 0;
        font-size: 1em;
        flex-direction: column;
        margin-top: 20px;
    }

    .info-list {
        width: 95%;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
    }
    .info-img {
        height: 200px;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list-human {
        width: 95%;
        flex-direction: column;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
        padding: 20px;

    }
    .info-list-human p {
        width: 90%;
        margin-top: 20px;
    }
    .human {
        height: 250px;
    }

    .calculator-link {
        width: 100%;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .information {
        padding: 30px 0;

    }

    .info-stats {
        width: 90%;
        margin: 0;
        font-size: 1em;
        background-color: var(--background-mobile-color);
    }

    .info-list-item {
        width: 100%;
        padding: 20px 0;
        font-size: 1em;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list {
        width: 90%;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
    }

    .info-list-human {
        width: 90%;
        flex-direction: column;
        font-size: 1em;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
    }

    .info-list-human p {
        width: 90%;
        margin-top: 20px;
    }
    .human {
        height: 250px;
    }

    .calculator-link {
        width: 100%;
    }


}


@media (min-width: 768px) and (max-width: 992px) {
    .information {
        padding: 30px 0;
    }

    .info-stats {
        width: 85%;
        margin: 0;
        font-size: 0.9em;
        background-color: var(--background-mobile-color);
    }

    .info-list-item {
        width: 100%;
        padding:0;
        font-size: 0.9em;
    }

    .statistics-container {
        flex-direction: column;
    }

    .info-list {
        width: 85%;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
    }

    .info-list-human {
        width: 85%;
        flex-direction: column;
        font-size: 0.9em;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/mobile-drops.png");
    }

    .calculator-link {
        width: 100%;
    }
    .info-list-human p {
        width: 90%;
        margin-top: 20px;
    }
    .human {
        height: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
.info-list-item {
    padding-top: 30px;
}
}

@media (min-width: 1700px) {
    .information {
        padding-left: 10%;
        padding-right: 10%;
    }
}
