@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Comfortaa:wght@300;500&family=Cuprum&family=Domine&family=Lilita+One&family=Lobster&family=Montserrat:wght@500&family=Nanum+Myeongjo&family=Raleway:ital,wght@0,500;1,400&family=Roboto+Condensed&display=swap');

.about {
    height: 80vh;
    /*background-image: url('../../assets/aboutBG5.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    box-shadow: 0 0 15px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.about-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/aboutBG5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;

}

/*.about-content {*/
/*    backdrop-filter: blur(20px);*/
/*    -webkit-backdrop-filter: blur(20px);*/
/*    width: 50%;*/
/*    height: 80%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    background-color: rgba(255, 255, 255, 0.75);*/
/*    margin-top: 10px;*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s ease-in-out;*/
/*}*/


.about-header {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: fit-content;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1em;
    color: #062627;
    -webkit-text-stroke: 1px rgba(4, 25, 24, 0.48);
    background-image: url('../../assets/drops-big.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about-header h1 {
    margin: 0;
    padding: 0;
}

.info-wrapper {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url('../../assets/drops-big.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin-top: 10px;
}

.info p {
    font-size: 1.3em;
    padding: 40px 50px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: justify;
    color: #042122;
    margin: 0;
}

.slide-from-right,
.slide-from-left {
    opacity: 0;
}

.slide-from-right {
    animation: slideFromRight 1500ms ease-out forwards, fadeIn 1200ms ease-out forwards;
}

.slide-from-left {
    animation: slideFromLeft 1500ms ease-out forwards, fadeIn 1200ms ease-out forwards;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.earth-about {
    width: 45%;
    animation: float 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-about img {
    height: 520px;
}

@media (max-width: 576px) {
    .about {
        flex-direction: column;
        height: fit-content;
        /*background: none;*/
    }

    .about-header {
        margin-top: 5vh;
        font-size: 0.6em;
    }

    .info-wrapper {
        width: 95%;
    }

    .info {
        margin-top: 5px;
        font-size: 0.8em;
    }

    .earth-about img {
        height: 370px;
        padding-left: 35px;
        margin: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .about {
        flex-direction: column;
        height: fit-content;

    }

    .about-header {
        margin-top: 5vh;
        font-size: 0.9em;
    }

    .info-wrapper {
        width: 90%;
    }

    .info {
        margin-top: 5px;
        font-size: 0.8em;
    }

    .earth-about img {
        height: 400px;
        padding-left: 35px;
        margin: 25px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about {
        flex-direction: column;
        height: fit-content;

    }

    .about-header {
        margin-top: 5vh;
        font-size: 1em;
    }

    .info-wrapper {
        width: 85%;
    }

    .info {
        margin-top: 5px;
        font-size: 0.9em;
    }

    .earth-about img {
        height: 420px;
        padding-left: 35px;
        margin: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about {

    }

    .about-header {
        margin-top: 5vh;
        font-size: 1em;
    }

    .info-wrapper {
        width: 50%;
    }

    .info {
        margin-top: 5px;
        font-size: 1em;
    }

    .earth-about img {
        height: 430px;
        padding-left: 35px;
    }
}

@media (min-width: 1200px) {

}
