.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 80px 30px 0 30px;
}

.about-header {
    height: fit-content;
    padding: 15px 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    color: var(--primary-color);
    /*background-image: url('../../assets/drops-background/drops-medium.webp');*/
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: var(--primary-border-radius);
}

.about-header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.info-wrapper {
    width: 50%;
    margin-right: 10px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 100%;
    /*background-image: url('../../assets/drops-background/drops-medium.webp');*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: var(--primary-border-radius);
}

.info p {
    padding: 40px 50px;
    font-family: Arial, serif;
    text-align: justify;
    color: var(--primary-color);
    margin: 0;
    font-size: 1.05em;
}

.slide-from-right,
.slide-from-left {
    opacity: 0;
}

.slide-from-right {
    animation: slideFromRight 1500ms ease-out forwards, fadeIn 1200ms ease-out forwards;
}

.slide-from-left {
    animation: slideFromLeft 1500ms ease-out forwards, fadeIn 1200ms ease-out forwards;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.earth-about {
    width: 50%;
    animation: float 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 30px;
}

.earth-about img {
    height: 450px;
}

@media (max-width: 576px) {
    .about {
        flex-direction: column;
        height: fit-content;
        background-attachment: scroll;
        padding: 0;
    }
    .info-wrapper {
        order: 2;
        margin: 0;
    }

    .earth-about {
        order: 1;
    }
    .about-header {
        margin-top: 5vh;
        font-size: 1em;
        padding: 10px 20px;
        /*background-color: var(--background-mobile-color);*/
        /*background-image: url('../../assets/drops-background/drops-extra-small.webp');*/
    }

    .info-wrapper {
        width: 95%;
    }

    .info {
        margin-top: 5px;
        font-size: 1em;
        /*background-color: var(--background-mobile-color);*/
        /*background-image: url('../../assets/drops-background/drops-small.webp');*/
    }
    .info p {
        padding: 30px;
    }
    .earth-about{
        margin: 0;
        padding: 0;
    }
    .earth-about img {
        height: 330px;
        margin-top: 60px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .about {
        flex-direction: column;
        height: fit-content;
        background-attachment: scroll;
        padding: 30px 0 0 0;
    }
    .info-wrapper {
        order: 2;
        margin: 0;
    }

    .earth-about {
        order: 1;
    }
    .about-header {
        margin-top: 5vh;
        font-size: 1.1em;
        background-color: var(--background-mobile-color);
    }

    .info-wrapper {
        width: 95%;
    }

    .info {
        margin-top: 5px;
        font-size: 1em;
        background-color: var(--background-mobile-color);
    }
    .info p {
        padding: 30px;
    }
    .earth-about{
        margin: 0;
        padding: 0;
    }
    .earth-about img {
        height: 370px;
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about {
        flex-direction: column;
        height: fit-content;
        background-attachment: scroll;
        padding: 30px 0 0 0;
    }
    .info-wrapper {
        order: 2;
        margin: 0;
    }

    .earth-about {
        order: 1;
    }
    .about-header {
        margin-top: 5vh;
        font-size: 1.3em;
         background-color: var(--background-mobile-color);
    }

    .info-wrapper {
        width: 85%;
    }
    .info p {
        padding:40px 30px;
    }
    .info {
        margin-top: 5px;
        font-size: 1em;
        background-color: var(--background-mobile-color);
    }
    .earth-about{
        margin: 0;
        padding: 0;
    }
    .earth-about img {
        height: 370px;
        margin-top: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about {
        background-attachment: scroll;
    }

    .about-header {
        margin-top: 5vh;
        font-size: 1.2em;
    }

    .info-wrapper {
        width: 50%;
        margin: 0;
    }

    .info {
        margin-top: 5px;
        font-size: 1em;
    }

    .earth-about img {
        height: 430px;
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1500px) {
.about {
    padding-left:  10%;
    padding-right: 10%;
}
}
