.slide {
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/backgroundMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider1 img, .slider2 img {
    height: 50vh;
    position: absolute;
    opacity: 0;
    top: 0
}

.animate-slider1 {
    animation: slideInFromRight 1500ms ease-out forwards;
}

.animate-slider2 {
    animation: slideInFromLeft 1500ms ease-out forwards;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        right: -100%;
    }
    to {
        opacity: 1;
        right: 0;
    }
}



@keyframes slideInFromLeft {
    from {
        opacity: 0;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.slide-throught-text {
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    color: #190f05;
    /*-webkit-text-stroke: 1px rgba(11, 5, 1, 0.48);*/
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
    padding: 20px;
}
.animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 576px) {
    .slide-throught-text {
        font-size: 1.8em;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .slide-throught-text {
        font-size: 2em;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .slide-throught-text {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}
