.slide {
    height: 500px;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/backgroundMain.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 15px black;
}


.slider1 img, .slider2 img {
    height: 500px;
    position: absolute;
    opacity: 0;
    top: 0
}

.animate-slider1 {
    animation: smogsSlideInFromRight 1500ms ease-out forwards;
}

.animate-slider2 {
    animation: smogSlideInFromLeft 1500ms ease-out forwards;
}

@keyframes smogsSlideInFromRight {
    from {
        opacity: 0;
        right: -100%;
    }
    to {
        opacity: 1;
        right: 0;
    }
}



@keyframes smogSlideInFromLeft {
    from {
        opacity: 0;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.slide-through-text {
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    color: var(--secondary-color);
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
    padding: 20px;
}
.animate-fade-in {
    animation: sliderFadeIn 2s ease-in-out forwards;
}

@keyframes sliderFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 576px) {
    .slide {
        height: 75vh;
    }
    .slider1 img, .slider2 img {
        height: 75vh;
    }
    .slide {
        background-attachment: scroll;
    }
    .slide-through-text {
        font-size: 1.8em;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .slide {
        height: 65vh;
    }
    .slider1 img, .slider2 img {
        height: 65vh;
    }
    .slide-through-text {
        font-size: 2em;
    }
    .slide {
        background-attachment: scroll;
    }
}


@media (min-width: 768px) and (max-width: 992px) {

    .slide-through-text {
        font-size: 2.5em;
    }
    .slide {
        background-attachment: scroll;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .slide {
        background-attachment: scroll;
    }
}

@media (min-width: 1200px) {

}
