.calculator-main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: url('../../../assets/backgroundMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.calculator-main h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.7em;
    width: 60%;
    text-align: center;
    padding: 7px 20px;
    margin: 30px 0 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(66, 65, 65, 0.52);
    background-image: url('../../../assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #120a02;
    -webkit-text-stroke: 1px black;
}

.cloud img {
    height: 250px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.cloud {
    position: absolute;
    left: 30px;
    top: 70px;
    animation: float 5s ease-in-out infinite;
    z-index: 1;
}


.footprint {
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 0;
}

.foot {
    opacity: 0;
    margin-left: 65px;
}

.foot img {
    height: 80px;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#foot1 {
    animation: fade-in-out 5s 1 500ms;
}

#foot2 {
    animation: fade-in-out 5s 1 1500ms;
}

#foot3 {
    animation: fade-in-out 5s 1 2500ms;
}

#foot4 {
    animation: fade-in-out 5s 1 3500ms;
}

#foot5 {
    animation: fade-in-out 5s 1 4500ms;
}

#foot6 {
    animation: fade-in-out 5s 1 5500ms;
}

#foot7 {
    animation: fade-in-out 5s 1 6500ms;
}

#foot8 {
    animation: fade-in-out 5s 1 7500ms;
}

#foot9 {
    animation: fade-in-out 5s 1 8500ms;
}

#foot10 {
    animation: fade-in-out 5s 1 9500ms;
}
