.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 15px black;
    overflow: hidden;
    background-attachment: fixed;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 100px 0;
    height: 100%;
    width: 100%;
}

.home-header {
    left: 0;
    bottom: 0;
    padding: 30px 50px;
    width: 50%;
    color: var(--primary-color);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    font-size: 1.7em;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    background-color: var(--background-color);
    background-image: url('../../assets/drops-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.home-header h1,
.home-header h2 {
    margin: 10px;
}

.home-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    width: 40%;
    margin-top: 80px;
    align-self: flex-end;
}

.bullet {
    position: relative;
    width: 100%;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    margin-top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-image: url('../../assets/bulletsBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-color);
    padding: 30px;
    text-align: justify;
}

.bullet h2 {
    font-size: 1.3em;
}

.bLogo {
    height: 80px;
    margin-right: 30px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


.slideInLeft {
    animation: slideInLeft 1200ms ease-in-out;
}

.slideInDown {
    animation: slideInDown 1200ms ease-in-out;
}

.slideInRight {
    animation: slideInRight 1200ms ease-in-out;
}

.slideInUp {
    animation: slideInUp 1200ms ease-in-out;
}

@media (max-width: 576px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
    }
    .home-container {
        flex-direction: column;
        width: 95%;
        padding: 0;
        margin: 0;
    }
    .home-header {
        margin-top: 20vh;
        font-size: 1.1em;
        width: 100%;
    }

    .home-bullets {
        width: 100%;
        margin-top: 40px;
        padding: 0 0 50px 0;
        font-size: 0.9em;
    }

    .bullet {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
    }
    .home-container {
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .home-header {
        margin-top: 20vh;
        font-size: 1.3em;
        width: 100%;
    }

    .home-bullets {
        width: 100%;
        padding: 0 0 50px 0;
        margin-top: 60px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
    }
    .home-container {
        flex-direction: column;
        width: 85%;
        padding: 0;
        margin: 0;
    }
    .home-header {
        margin-top: 20vh;
        font-size: 1.4em;
        width: 100%;
    }

    .home-bullets {
        width: 100%;
        padding: 0 0 50px 0;
        margin-top: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .home-header {
        font-size: 1.5em;
    }

    .home-bullets {
        width: 50%;
        padding-left:20px;
    }
}

@media (min-width: 1200px) {
    .home-header {
        /*margin-top: 60vh;*/
        font-size: 1.6em;
    }

    .home-bullets {
        width: 42%;
        /*padding: 60px;*/
        /*margin-top: 120px;*/
    }
}
