.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    overflow: hidden;
    background-attachment: fixed;
    padding: 0 30px 50px 30px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 100px 0;
    height: 100%;
    width: 100%;
}

.home-header {
    left: 0;
    bottom: 0;
    padding: 20px 0;
    width: 50%;
    -webkit-backdrop-filter: blur(var(--blur));
    font-size: 1.5em;
    font-family: 'Bebas Neue', sans-serif;
    background-image: url('../../assets/drops-background/opacity-drops-medium.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: var(--primary-border-radius);
}

.home-header h1,
.home-header h2 {
    margin: 10px;
}

.home-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    width: 30%;
    margin-top: 120px;
    align-self: flex-end;
}

.bullet {
    position: relative;
    width: 100%;
    margin-top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-image: url('../../assets/drops-background/opacity-drops-small.webp');
    padding: 20px 30px 20px 20px;
    text-align: justify;
    min-height:120px;
    border-radius: var(--primary-border-radius);
}

.bullet h2 {
    font-size: 1.3em;
}

.bLogo {
    height: 80px;
    margin-right: 20px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


.slideInLeft {
    animation: slideInLeft 1200ms ease-in-out;
}

.slideInDown {
    animation: slideInDown 1200ms ease-in-out;
}

.slideInRight {
    animation: slideInRight 1200ms ease-in-out;
}

.slideInUp {
    animation: slideInUp 1200ms ease-in-out;
}

@media (max-width: 576px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .home-container {
        flex-direction: column;
        width: 95%;
        padding: 0;
        margin: 0;
    }

    .home-header {
        margin-top: 110px;
        font-size: 1.2em;
        width: 100%;
        background-color: var(--background-mobile-color);
        padding: 20px 15px;
        background-image: url('../../assets/drops-background/opacity-drops-extra-small.webp');
    }

    .home-bullets {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 7vh;
        font-size: 1em;
    }

    .bullet {
        width: 100%;
        background-color: var(--background-mobile-color);
        background-image: url('../../assets/drops-background/opacity-drops-extra-small.webp');
    }

    .bLogo {
        height: 65px;
        margin-right: 15px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .home-container {
        flex-direction: column;
        width: 95%;
        padding: 0;
        margin: 0;
    }

    .home-header {
        margin-top: 120px;
        font-size: 1.4em;
        width: 100%;
        background-color: var(--background-mobile-color);
        padding: 20px;
    }

    .home-bullets {
        width: 100%;
        padding: 0 0 50px 0;
        margin-top: 60px;
    }

    .bullet {
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/drops-background/opacity-drops-medium.webp");
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .home {
        height: fit-content;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .home-container {
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .home-header {
        margin-top: 150px;
        font-size: 1.5em;
        width: 100%;
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/drops-background/opacity-drops-medium.webp");
    }

    .home-bullets {
        width: 100%;
        padding: 0 0 50px 0;
        margin-top: 80px;

    }

    .bullet {
        background-color: var(--background-mobile-color);
        background-image: url("../../assets/drops-background/opacity-drops-medium.webp");
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .home-header {
        font-size: 1.5em;
    }

    .home-bullets {
        width: 50%;
        padding-left: 100px;
    }
}

@media (min-width: 1200px) {
    .home-header {
        font-size: 1.8em;
    }

    .home-bullets {
        width: 37%;
    }
}

@media (min-width: 1500px) {
    .home {
        padding-left: 10%;
        padding-right: 10%;
    }
}
