.header {
    box-shadow: 0 0 15px rgba(32, 31, 31, 0.73);
    height: 70px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.earth-logo {

}

.menu-toggle {
    display: none;
    z-index: 20;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: static;
    margin-right: 30px;
}

.nav-list.open, .nav-list.closed {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 99;
}

.nav-list.closed {
    transform: translateX(100%);
}

.nav-list.open {
    transform: translateX(0);
}

.nav-list li, .link {
    margin: 15px;
    color: aliceblue;
    list-style: none;
    font-size: 1.25em;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.nav-list li:hover, .link:hover,.menu-toggle:hover {
    transform: scale(1.1);
}

.menu-toggle {
    display: block;
    margin-right: 25px;
    background: none;
    border: transparent;
    font-size: 1.6em;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}


/*@media (max-width: 768px) {*/
/*    .menu-toggle {*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media (min-width: 769px) {*/
/*    .menu-toggle {*/
/*        display: none;*/
/*    }*/
/*    .nav-list {*/
/*        position: static;*/
/*        background-color: transparent;*/
/*        height: auto;*/
/*        width: auto;*/
/*        flex-direction: row;*/
/*    }*/
/*}*/
