.statistics {
    overflow: hidden;
}

.graph-wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-image: url('../../assets/drops-big.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(69, 67, 67, 0.48);
    position: relative;
}

.custom-tooltip {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px;
    box-shadow: 0 0 3px rgba(69, 67, 67, 0.48);

}
.custom-tooltip p {
    margin: 5px;
    padding: 0;
    font-family: Arial, serif;
}

.tooltip-label {
    font-weight: bold;
    color: black;
}

.tooltip-value {
    color: black;
}
