.statistics {
    overflow: hidden;
}

.graph-wrapper {
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-color: var(--background-color);
    background-image: url('../../assets/drops-background/opacity-drops-medium.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*box-shadow: 0 0 10px rgba(69, 67, 67, 0.48);*/
    position: relative;
    width: 50%;
    height: 400px;
    margin-right: 10px;
    border-radius: var(--primary-border-radius);
}

.custom-tooltip {
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    padding: 10px;
    box-shadow: 0 0 3px rgba(69, 67, 67, 0.48);
    background-color: rgba(8, 107, 108, 0.59);
    border-radius: 3px;
    font-size: 14px;
}
.custom-tooltip p {
    margin: 5px;
    padding: 0;
    font-family: Arial, serif;
}

.tooltip-label {
    color: white;
}

.tooltip-value {
    color: white;
}

@media (max-width: 576px) {
    .statistics {
        overflow: hidden;
    }

    .graph-wrapper {
        width: 95%;
        margin:  0 0 20px 0;
        /*background-color: var(--background-mobile-color);*/
        background-image: url("../../assets/drops-background/opacity-drops-small.webp");
    }

    .custom-tooltip {
        font-size: 14px;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .statistics {
        overflow: hidden;
    }

    .graph-wrapper {
        width: 95%;
        margin:  0 0 20px 0;
        /*background-color: var(--background-mobile-color);*/
    }

    .custom-tooltip {
        font-size: 14px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .statistics {
        overflow: hidden;
    }

    .graph-wrapper {
        width: 90%;
        margin:  0 0 20px 0;
        /*background-color: var(--background-mobile-color);*/
        background-image: url("../../assets/drops-background/opacity-drops-medium.webp");
    }

    .custom-tooltip {
        font-size: 14px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .graph-wrapper {
        width: 100%;
        margin:  0 0 20px 0;
        background-image: url("../../assets/drops-background/opacity-drops-big.webp");
    }

}

@media (min-width: 1200px) {

}
