.footer {
    height: 35vh;
    min-height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(15, 15, 15, 0.64);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
    position: relative;
    color: var(--primary-color);
    font-family: Arial;
}

.home-page {
    background-image: url('../../assets/drops-background/opacity-drops-huge.webp');
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.top-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 0 105px 0;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
}
.footer-link {
    transition: transform 0.3s ease-in-out;
}
.footer-link:hover {
    transform: scale(1.1);
}
.lower-footer {
    width: 100%;
    height: 60px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 12px rgba(32, 31, 31, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    position: absolute;
}

.animation {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-animation {
    display: none;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 11px;
    width: 130px;
    text-align: justify;
    padding: 10px 0;

}

.footer-gratitude {
    font-size: 13px;
    width: 90%;
    text-align: justify;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
    margin-top: 10px;
}
.footer-gratitude img {
    height: 30px;
    padding-right: 10px;
}
.footer-gratitude p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.footer-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-image img{
    height: 60px;
}
@media (max-width: 576px) {
    .home-page {
        background-attachment: scroll;
        background-image: url('../../assets/drops-background/opacity-drops-medium.webp');
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .home-page {
        background-attachment: scroll;
        background-image: url('../../assets/drops-background/opacity-drops-medium.webp');
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .home-page {
        background-attachment: scroll;
        background-image: url('../../assets/drops-background/opacity-drops-big.webp');
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .home-page {
        background-attachment: scroll;
    }
}

@media (min-width: 1200px) {
}
