.footer {
    height: 35vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    overflow: hidden;
    position: relative;
    color: var(--primary-color);

}

.home-page {
    background-color: var(--background-color);
    background-image: url('../../assets/drops-huge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.calc-page {

    background-image: url('../../assets/backgroundMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.lower-footer {
    width: 100%;
    height: 60px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    box-shadow: 0 0 15px rgba(32, 31, 31, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    position: absolute;

}

.footer-animation {
    display: none;
}
