.wild-fire {
    position: relative;
    width: 100%;
    height: 55vh;
    background-image: url("../../assets/greenTree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;

}

.wildfire-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 2;
}

.wildfire-warning h1 {
    font-size: 2.4em;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #f90404;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 15px 35px;
    -webkit-text-stroke: 1px rgba(29, 3, 3, 0.65);
    text-align: center;
}


.wildfire-image img {
    height: 200px;
}

.fire-animation {
    position: absolute;
    width: 100%;
    height: fit-content;
    opacity: 0;
    z-index: 1;
}

.fire-animation img {
    height: 150px;
}

.burnt-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70vh;
    background-image: url("../../assets/burnedTree.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
}


@keyframes darken {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}


@keyframes animateFire {
    0%, 100% {
        bottom: -350px;
        opacity: 0;
    }
    10% {
        bottom: -350px;
        opacity: 1;
    }
    50% {
        bottom: -5px;
        opacity: 1;
    }
    90% {
        bottom: -350px;
        opacity: 1;
    }
}

@keyframes fadeInWarning {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wildfire-warning.revealed {
    animation: fadeInWarning 2s forwards 4500ms;
}

.fire-animation.revealed {
    animation: animateFire 5s forwards ease-in-out;
}

.burnt-layer.revealed {
    animation: fadein 6s forwards 1s;
}

.dark-overlay.revealed {
    animation: darken 2s forwards 4500ms;
}
@media (max-width: 576px) {
    .wildfire-image img {
        height: 150px;
    }
    .wildfire-warning h1 {
        font-size: 2em;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .wildfire-image img {
        height: 200px;
    }
    .wildfire-warning h1 {
        font-size: 2.4em;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1400px) {

}

@media (min-width: 1400px) {

}
