.wild-fire {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url("../../assets/greenTree.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
   margin-bottom: 10px;
}

.wildfire-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 2;
}

.wildfire-warning p {
    font-size: 2.5em;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #eb0a0a;
    /*backdrop-filter: blur(30px);*/
    /*-webkit-backdrop-filter: blur(30px);*/
    padding: 10px 25px;
    text-align: center;
}

.wildfire-image img {
    height: 190px;
}

.fire-animation {
    position: absolute;
    /*width: 100%;*/
    /*height: fit-content;*/
    opacity: 0;
    z-index: 1;
}

/*.fire-animation img {*/
/*    !*height: 120px;*!*/
/*}*/

.burnt-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    background-image: url("../../assets/burnedTree.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 0;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
}

@keyframes darken {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.67;
    }
}


@keyframes animateFire {
    0%, 100% {
        bottom: -350px;
        opacity: 0;
    }
    10% {
        bottom: -350px;
        opacity: 1;
    }
    50% {
        bottom: -5px;
        opacity: 1;
    }
    90% {
        bottom: -350px;
        opacity: 1;
    }
}

@keyframes fadeInWarning {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wildfire-warning.revealed {
    animation: fadeInWarning 2s forwards 4500ms;
}

.fire-animation.started {
    animation: animateFire 5000ms forwards ease-in-out 300ms;
    animation-play-state: running;
}

.burnt-layer.revealed {
    animation: fadein 5000ms forwards 1800ms;
}

.dark-overlay.revealed {
    animation: darken 3500ms forwards 4700ms;
}


.drops-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 1;
    transition: opacity 1200ms ease-in-out;

}

.wildfire-drops-img {
    height: auto;
    width: 100%;
}

.drops-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3;
    opacity: 1;
    transition: opacity 1200ms ease-in-out;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));

}

.drops-image.hidden {
    opacity: 0;
}
.click.hidden {
    opacity: 0;
}
.drops-overlay.hidden {
    opacity: 0;
}

.click {
    position: absolute;
    z-index:4;
}
.click img {
    height: 45px;
}

.wildfire-animation {
    position: absolute;
    z-index: 25;
    width: 200px;
    height: 500px;
    left: 200px;
}

@media (max-width: 576px) {
    .wildfire-image img {
        height: 150px;
    }
    .wildfire-warning p {
        font-size: 2em;
    }
    .wild-fire {
        width: 95%;
        height: 60vh;
    }
    .burnt-layer {
        height: 60vh;
    }
    .wildfire-drops-img {
        width: auto;
        height: 180%;
    }
    .wildfire-animation {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .wildfire-image img {
        height: 180px;
    }
    .wildfire-warning p {
        font-size: 1.9em;
    }
    .wild-fire {
        width: 95%;
        height: 60vh;
    }
    .burnt-layer {
        height: 60vh;
    }
    .wildfire-drops-img {
        width: auto;
        height: 200%;
    }
    .wildfire-animation {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .wild-fire {
        width: 90%;
    }
    .wildfire-drops-img {
        width: auto;
        height: 220%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .wildfire-drops-img {
        width: auto;
        height: 170%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

}

@media (min-width: 1400px) {

}
