body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-with-home {
    background-image: url('./assets/backgroundMain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.app-without-home {
    background-image: url('./assets/homePage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
